* {}

body html {
    
}
.container-main {
    display: flex;
    flex-direction: column;

}
.header{
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: blue;
    height: 10vh;
    color:white;
}

.container-body {
    display: flex;
    flex-direction: row;
    
}
.todo-wrapper{
    display:flex;
    flex-direction: column;
    width:20%;
    height: 70vh;
    background-color: tomato;
    color: white;
}
.calender-wrapper{
    display:flex;
    flex-direction: column;
    width:60%;
    height: 70vh;
    background-color: wheat;
    color: white;

}

