* {
    margin: 0;
}
<<<<<<< HEAD
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
header {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: blue;
}
.todo-wrapper {
    height: 90vh;
    width: 10vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 0px solid blue;; */
}

.todo-title {
    margin-top: 4.5rem;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: blue;
}
.todo-title h1 {
    margin: 0;
    text-transform: uppercase;
    color:white;
    padding-bottom: 1rem;
}

.todo-title h4 {

    margin: 0;
    font-size: 1rem;
    font-weight: 100;
    color:white;
=======

.todo-wrapper {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.todo-title {
    margin-top: 1.5rem;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todo-title h1 {
    margin: 0;
    text-transform: uppercase;
}

.todo-title h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 100;
>>>>>>> refs/heads/4-create-todo
}

.todo-list-wrapper {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.inputAndButton input {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: 0;
<<<<<<< HEAD
    background: blue;;
    margin-top: 5rem;
    outline: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }


.inputAndButton #add-icon {
    color: white;
    margin-top: 5rem;
    border-radius: 50px;
    padding: 1rem;
    margin-left: 1rem;
    background: blue;;
=======
    background: #d3d3d3;
    outline: 0;
}

.inputAndButton #add-icon {
    color: white;
    border-radius: 50px;
    padding: 1rem;
    background: black;
>>>>>>> refs/heads/4-create-todo
}

.inputAndButton {
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
    color:blue;
=======
    align-items: center;
>>>>>>> refs/heads/4-create-todo
}

.todoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#listForAllTodos {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
    width: 100%;
}

<<<<<<< HEAD
#li {
=======
.li {
>>>>>>> refs/heads/4-create-todo
    padding: 0.5rem 0.5rem;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    background: white;
<<<<<<< HEAD
    border-top: 0.5px solid blue;;
=======
    border-top: 0.5px solid black;
>>>>>>> refs/heads/4-create-todo

}

#listForAllTodos li:hover {
    font-weight: 900;
    cursor: pointer;
}

<<<<<<< HEAD
#li.active {
    background: blue;
}

#checkbox{
    color:blue;;
=======
#checkbox{
    color:black;
>>>>>>> refs/heads/4-create-todo
    border:0;
    border-radius: 25px;
}

#checkbox.active{
<<<<<<< HEAD
    color:blue;;
=======
    color:lime;
>>>>>>> refs/heads/4-create-todo
}

#trash{
    visibility: hidden;
<<<<<<< HEAD
    color:blue;;
}
#hej{
    flex-grow: 1;
    padding: 1em 10em 3em 3em;
    

=======
    color:red;
}
#hej{
    flex-grow: 1;
>>>>>>> refs/heads/4-create-todo
}
.flexbox-wrapper{
    display:flex;
    justify-content: space-between;
<<<<<<< HEAD
} 
=======
} 

#date{
    width: 60px;
    height: 60px;
    border:0.5px solid black;
    outline: none;
    border-radius: 40px;
    color:white;
    background: grey;
}
>>>>>>> refs/heads/4-create-todo
